<a href="https://colab.research.google.com/github/hemang03/tensorflow_tutotrial/blob/master/churn_modeling_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
!pip uninstall tensorflow

Uninstalling tensorflow-2.2.0:
  Would remove:
    /usr/local/bin/estimator_ckpt_converter
    /usr/local/bin/saved_model_cli
    /usr/local/bin/tensorboard
    /usr/local/bin/tf_upgrade_v2
    /usr/local/bin/tflite_convert
    /usr/local/bin/toco
    /usr/local/bin/toco_from_protos
    /usr/local/lib/python3.6/dist-packages/tensorflow-2.2.0.dist-info/*
    /usr/local/lib/python3.6/dist-packages/tensorflow/*
Proceed (y/n)? n

In [8]:
import tensorflow as tf

In [4]:
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [9]:
df = pd.read_csv('/content/Customer_Churn_Modelling.csv')

In [10]:
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [13]:
from sklearn.preprocessing import LabelEncoder 
le = LabelEncoder()
df['Gender'] = le.fit_transform(df['Gender'])
df['Geography']= le.fit_transform(df['Geography'])

In [14]:
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember  EstimatedSalary  Exited
0          1    15634602  Hargrave  ...               1        101348.88       1
1          2    15647311      Hill  ...               1        112542.58       0
2          3    15619304      Onio  ...               0        113931.57       1
3          4    15701354      Boni  ...               0         93826.63       0
4          5    15737888  Mitchell  ...               1         79084.10       0

[5 rows x 14 columns]

In [20]:
X= df.drop(labels=['RowNumber','CustomerId','Surname','Exited'],axis=1)

In [21]:
X = pd.get_dummies(X , drop_first=True ,columns= ['Geography'])

In [23]:
y = df.Exited

In [22]:
X.head()

   CreditScore  Gender  Age  ...  EstimatedSalary  Geography_1  Geography_2
0          619       0   42  ...        101348.88            0            0
1          608       0   41  ...        112542.58            0            1
2          502       0   42  ...        113931.57            0            0
3          699       0   39  ...         93826.63            0            0
4          850       0   43  ...         79084.10            0            1

[5 rows x 11 columns]

In [24]:
from sklearn.model_selection import train_test_split
X_train , X_test , y_train , y_test = train_test_split(X , y , test_size =0.2 , random_state =0)

In [25]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [26]:
model = Sequential()

In [27]:
model.add(Dense(units=X.shape[1] , activation='relu' , input_dim =X.shape[1]))

In [28]:
model.add(Dense(units=128 , activation='relu'))

In [47]:
model.add(Dense(1 , activation='sigmoid'))

In [48]:
model.compile(optimizer='adam' , loss='binary_crossentropy' , metrics=['accuracy'])

In [49]:
model.fit(X_train,y_train.to_numpy(),batch_size=10, epochs=7, verbose=1)

Epoch 1/7
800/800 [==============================] - 1s 1ms/step - loss: 0.7697 - accuracy: 0.4202
Epoch 2/7
800/800 [==============================] - 1s 1ms/step - loss: 0.5446 - accuracy: 0.7960
Epoch 3/7
800/800 [==============================] - 1s 1ms/step - loss: 0.5096 - accuracy: 0.7960
Epoch 4/7
800/800 [==============================] - 1s 1ms/step - loss: 0.5062 - accuracy: 0.7960
Epoch 5/7
800/800 [==============================] - 1s 1ms/step - loss: 0.5060 - accuracy: 0.7960
Epoch 6/7
800/800 [==============================] - 1s 1ms/step - loss: 0.5060 - accuracy: 0.7960
Epoch 7/7
800/800 [==============================] - 1s 1ms/step - loss: 0.5060 - accuracy: 0.7960

In [50]:
y_pred = model.predict_classes(X_test)

In [51]:
y_pred

array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]], dtype=int32)

In [52]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [53]:
cm

array([[1595,    0],
       [ 405,    0]])

In [54]:
from sklearn.metrics import accuracy_score
ac = accuracy_score(y_test , y_pred)

In [55]:
ac*100

79.75

In [ ]:
_