<a href="https://colab.research.google.com/github/hemang03/tensorflow_tutotrial/blob/master/creditcard_detection_cnn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install tensorflow-gpu==2.0-rc0

Collecting tensorflow-gpu==2.0-rc0
  Downloading https://files.pythonhosted.org/packages/6a/12/8c64cc62149cc21c70c55018502831bbf4d42bd62bed196df7de6830d21b/tensorflow_gpu-2.0.0rc0-cp36-cp36m-manylinux2010_x86_64.whl (380.5MB)
     |████████████████████████████████| 380.5MB 39kB/s
Requirement already satisfied: keras-preprocessing>=1.0.5 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu==2.0-rc0) (1.1.2)
Collecting tf-estimator-nightly<1.14.0.dev2019080602,>=1.14.0.dev2019080601
  Downloading https://files.pythonhosted.org/packages/21/28/f2a27a62943d5f041e4a6fd404b2d21cb7c59b2242a4e73b03d9ba166552/tf_estimator_nightly-1.14.0.dev2019080601-py2.py3-none-any.whl (501kB)
     |████████████████████████████████| 501kB 42.2MB/s
Requirement already satisfied: grpcio>=1.8.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu==2.0-rc0) (1.30.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu==2.0-rc0) (1.15.0)
Requirement already satisfied: keras-applications>=1.0.8 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu==2.0-rc0) (1.0.8)
Requirement already satisfied: gast>=0.2.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu==2.0-rc0) (0.3.3)
Requirement already satisfied: google-pasta>=0.1.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu==2.0-rc0) (0.2.0)
Requirement already satisfied: astor>=0.6.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu==2.0-rc0) (0.8.1)
Requirement already satisfied: absl-py>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu==2.0-rc0) (0.9.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu==2.0-rc0) (1.1.0)
Requirement already satisfied: wrapt>=1.11.1 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu==2.0-rc0) (1.12.1)
Requirement already satisfied: wheel>=0.26 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu==2.0-rc0) (0.34.2)
Requirement already satisfied: protobuf>=3.6.1 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu==2.0-rc0) (3.12.2)
Collecting tb-nightly<1.15.0a20190807,>=1.15.0a20190806
  Downloading https://files.pythonhosted.org/packages/bc/88/24b5fb7280e74c7cf65bde47c171547fd02afb3840cff41bcbe9270650f5/tb_nightly-1.15.0a20190806-py3-none-any.whl (4.3MB)
     |████████████████████████████████| 4.3MB 44.4MB/s
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu==2.0-rc0) (3.2.1)
Requirement already satisfied: numpy<2.0,>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu==2.0-rc0) (1.18.5)
Requirement already satisfied: h5py in /usr/local/lib/python3.6/dist-packages (from keras-applications>=1.0.8->tensorflow-gpu==2.0-rc0) (2.10.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from protobuf>=3.6.1->tensorflow-gpu==2.0-rc0) (49.1.0)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.6/dist-packages (from tb-nightly<1.15.0a20190807,>=1.15.0a20190806->tensorflow-gpu==2.0-rc0) (1.0.1)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.6/dist-packages (from tb-nightly<1.15.0a20190807,>=1.15.0a20190806->tensorflow-gpu==2.0-rc0) (3.2.2)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from markdown>=2.6.8->tb-nightly<1.15.0a20190807,>=1.15.0a20190806->tensorflow-gpu==2.0-rc0) (1.7.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata; python_version < "3.8"->markdown>=2.6.8->tb-nightly<1.15.0a20190807,>=1.15.0a20190806->tensorflow-gpu==2.0-rc0) (3.1.0)
Installing collected packages: tf-estimator-nightly, tb-nightly, tensorflow-gpu
Successfully installed tb-nightly-1.15.0a20190806 tensorflow-gpu-2.0.0rc0 tf-estimator-nightly-1.14.0.dev2019080601

In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [2]:
df = pd.read_csv('/content/creditcard.csv')

In [3]:
df.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0     0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62    0.0
1     0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69    0.0
2     1 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66    0.0
3     1 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50    0.0
4     2 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99    0.0

[5 rows x 31 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87240 entries, 0 to 87239
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    87240 non-null  int64
 1   V1      87240 non-null  float64
 2   V2      87240 non-null  float64
 3   V3      87240 non-null  float64
 4   V4      87240 non-null  float64
 5   V5      87239 non-null  float64
 6   V6      87239 non-null  float64
 7   V7      87239 non-null  float64
 8   V8      87239 non-null  float64
 9   V9      87239 non-null  float64
 10  V10     87239 non-null  float64
 11  V11     87239 non-null  float64
 12  V12     87239 non-null  float64
 13  V13     87239 non-null  float64
 14  V14     87239 non-null  float64
 15  V15     87239 non-null  float64
 16  V16     87239 non-null  float64
 17  V17     87239 non-null  float64
 18  V18     87239 non-null  float64
 19  V19     87239 non-null  float64
 20  V20     87239 non-null  float64
 21  V21     87239 non-null  float64
 22  V22     87239 non-null  float64
 23  V23     87239 non-null  float64
 24  V24     87239 non-null  float64
 25  V25     87239 non-null  float64
 26  V26     87239 non-null  float64
 27  V27     87239 non-null  float64
 28  V28     87239 non-null  float64
 29  Amount  87239 non-null  float64
 30  Class   87239 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 20.6 MB

In [5]:
df.describe()

               Time            V1  ...        Amount         Class
count  87240.000000  87240.000000  ...  87239.000000  87239.000000
mean   39208.302212     -0.264415  ...     98.400990      0.002350
std    15846.338289      1.876993  ...    267.389535      0.048419
min        0.000000    -56.407510  ...      0.000000      0.000000
25%    31867.750000     -1.028026  ...      7.680000      0.000000
50%    41579.000000     -0.261473  ...     26.990000      0.000000
75%    51578.500000      1.152808  ...     89.900000      0.000000
max    61596.000000      1.960497  ...  19656.530000      1.000000

[8 rows x 31 columns]

In [6]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        1
V6        1
V7        1
V8        1
V9        1
V10       1
V11       1
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [7]:
df.fillna( 0, inplace = True)

In [8]:
df.isna().values.any()

False

In [9]:
df.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0     0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62    0.0
1     0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69    0.0
2     1 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66    0.0
3     1 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50    0.0
4     2 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99    0.0

[5 rows x 31 columns]

In [10]:
df.shape

(87240, 31)

In [16]:
fraud = df[df['Class'] == 1]

In [18]:
non_fraud = df[df['Class'] == 0]

In [17]:
fraud.shape , non_fraud.shape

((205, 31), (87035, 31))

In [19]:
non_fraud = non_fraud.sample(fraud.shape[0])

In [21]:
non_fraud.shape , fraud.shape

((205, 31), (205, 31))

In [22]:
df = fraud.append(non_fraud , ignore_index=True)

In [23]:
df['Class'].value_counts()

0.0    205
1.0    205
Name: Class, dtype: int64

In [24]:
X = df.drop('Class' , axis = 1)

In [25]:
y = df.Class

In [26]:
from sklearn.model_selection import train_test_split
X_train , X_test , y_train ,y_test = train_test_split(X,y , test_size =0.2 , random_state = 0 , stratify = y)

In [28]:
X_train.shape , X_test.shape

((328, 30), (82, 30))

In [29]:
from sklearn.preprocessing import  StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [30]:
y_test = y_test.to_numpy()
y_train = y_train.to_numpy()

In [31]:
X_train = X_train.reshape(X_train.shape[0] , X_train.shape[1] , 1)
X_test= X_test.reshape(X_test.shape[0] , X_test.shape[1] , 1)

In [32]:
X_test.shape , X_train.shape

((82, 30, 1), (328, 30, 1))

In [48]:
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense , Dropout , Conv1D , MaxPool1D , BatchNormalization , Flatten
from tensorflow.keras.optimizers import Adam

In [49]:
model = Sequential()

In [50]:
model.add(Conv1D(filters=32 , kernel_size=3 , activation='relu' , input_shape=X_train[0].shape))

In [51]:
model.add(BatchNormalization())
model.add(Dropout(0.2))

In [52]:
model.add(Conv1D(filters=32 , kernel_size=3 , activation='relu'))
model.add(BatchNormalization())
model.add(Dropout(0.2))

In [53]:
model.add(Flatten())
model.add(Dense(units =64  , activation='relu'))
model.add(Dropout(0.5))

In [54]:
model.add(Dense(units = 1 , activation='sigmoid'))

In [55]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv1d_2 (Conv1D)            (None, 28, 32)            128
_________________________________________________________________
batch_normalization_3 (Batch (None, 28, 32)            128
_________________________________________________________________
dropout_4 (Dropout)          (None, 28, 32)            0
_________________________________________________________________
conv1d_3 (Conv1D)            (None, 26, 32)            3104
_________________________________________________________________
batch_normalization_4 (Batch (None, 26, 32)            128
_________________________________________________________________
dropout_5 (Dropout)          (None, 26, 32)            0
_________________________________________________________________
flatten_2 (Flatten)          (None, 832)               0
_________________________________________________________________
dense_2 (Dense)              (None, 64)                53312
_________________________________________________________________
dropout_6 (Dropout)          (None, 64)                0
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 65
=================================================================
Total params: 56,865
Trainable params: 56,737
Non-trainable params: 128
_________________________________________________________________

In [56]:
model.compile(optimizer=Adam(lr = 0.001) , loss = 'binary_crossentropy' , metrics=['accuracy'])

In [57]:
model.fit(X_train , y_train , epochs=20 , validation_data=(X_test ,y_test))

Train on 328 samples, validate on 82 samples
Epoch 1/20
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/ops/nn_impl.py:183: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:Entity <function Function._initialize_uninitialized_variables.<locals>.initialize_variables at 0x7fb7a5c86510> could not be transformed and will be executed as-is. Please report this to the AutoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: module 'gast' has no attribute 'Num'
WARNING: Entity <function Function._initialize_uninitialized_variables.<locals>.initialize_variables at 0x7fb7a5c86510> could not be transformed and will be executed as-is. Please report this to the AutoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: module 'gast' has no attribute 'Num'
328/328 [==============================] - 2s 5ms/sample - loss: 0.4823 - accuracy: 0.7805 - val_loss: 0.5075 - val_accuracy: 0.9024
Epoch 2/20
328/328 [==============================] - 0s 344us/sample - loss: 0.2616 - accuracy: 0.9238 - val_loss: 0.5007 - val_accuracy: 0.8902
Epoch 3/20
328/328 [==============================] - 0s 336us/sample - loss: 0.2086 - accuracy: 0.9512 - val_loss: 0.4959 - val_accuracy: 0.9024
Epoch 4/20
328/328 [==============================] - 0s 330us/sample - loss: 0.1455 - accuracy: 0.9482 - val_loss: 0.4640 - val_accuracy: 0.9024
Epoch 5/20
328/328 [==============================] - 0s 326us/sample - loss: 0.1298 - accuracy: 0.9573 - val_loss: 0.4444 - val_accuracy: 0.9146
Epoch 6/20
328/328 [==============================] - 0s 329us/sample - loss: 0.1333 - accuracy: 0.9543 - val_loss: 0.4075 - val_accuracy: 0.9146
Epoch 7/20
328/328 [==============================] - 0s 352us/sample - loss: 0.1248 - accuracy: 0.9543 - val_loss: 0.3974 - val_accuracy: 0.9024
Epoch 8/20
328/328 [==============================] - 0s 357us/sample - loss: 0.1152 - accuracy: 0.9512 - val_loss: 0.3930 - val_accuracy: 0.9146
Epoch 9/20
328/328 [==============================] - 0s 331us/sample - loss: 0.1251 - accuracy: 0.9634 - val_loss: 0.3690 - val_accuracy: 0.9146
Epoch 10/20
328/328 [==============================] - 0s 337us/sample - loss: 0.0976 - accuracy: 0.9634 - val_loss: 0.3850 - val_accuracy: 0.8659
Epoch 11/20
328/328 [==============================] - 0s 342us/sample - loss: 0.1082 - accuracy: 0.9665 - val_loss: 0.3597 - val_accuracy: 0.8659
Epoch 12/20
328/328 [==============================] - 0s 341us/sample - loss: 0.1032 - accuracy: 0.9726 - val_loss: 0.2994 - val_accuracy: 0.9024
Epoch 13/20
328/328 [==============================] - 0s 324us/sample - loss: 0.1132 - accuracy: 0.9634 - val_loss: 0.2965 - val_accuracy: 0.9024
Epoch 14/20
328/328 [==============================] - 0s 328us/sample - loss: 0.1093 - accuracy: 0.9634 - val_loss: 0.3027 - val_accuracy: 0.9024
Epoch 15/20
328/328 [==============================] - 0s 331us/sample - loss: 0.0866 - accuracy: 0.9695 - val_loss: 0.2931 - val_accuracy: 0.8902
Epoch 16/20
328/328 [==============================] - 0s 338us/sample - loss: 0.0878 - accuracy: 0.9726 - val_loss: 0.3298 - val_accuracy: 0.8780
Epoch 17/20
328/328 [==============================] - 0s 351us/sample - loss: 0.0976 - accuracy: 0.9787 - val_loss: 0.2656 - val_accuracy: 0.9024
Epoch 18/20
328/328 [==============================] - 0s 350us/sample - loss: 0.0881 - accuracy: 0.9756 - val_loss: 0.3097 - val_accuracy: 0.8659
Epoch 19/20
328/328 [==============================] - 0s 326us/sample - loss: 0.1056 - accuracy: 0.9665 - val_loss: 0.2467 - val_accuracy: 0.9390
Epoch 20/20
328/328 [==============================] - 0s 329us/sample - loss: 0.0593 - accuracy: 0.9878 - val_loss: 0.2441 - val_accuracy: 0.9146

In [58]:
model.evaluate(X_test , y_test)

82/1 [============================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================] - 0s 124us/sample - loss: 0.2802 - accuracy: 0.9146

[0.24408573929856464, 0.91463417]